<div class="white_text">
	<div class='navbar1'>
		<!-- <div class="float-left debug"> -->
		<a class="white_text waves-effect waves-light btn" href="/logout">Logout</a>
		<!-- </div> -->

		<!-- <div class="float-right debug"> -->
		<div class="current-team"><%= @team.name %> is picking</div>
	</div>
	<!-- </div> -->

</br>


<div class="players2">
  <div id="available-players">
    <% Player.order(points: :desc).each do |player|%>
    <div class="inline1">
      <%= player.name %>
      <a class="white_text btn btn-primary inline1" href="/drafts/<%= @draft.id %>/players/<%= player.id %>">View Stats</a>
      <form method="post" action="/drafts/<%= @draft.id %>" class="inline1"><input class="btn btn-primary select-player inline1" type="submit" value="Select Player"/></form>
    </br>
  </div>
  <% end %>
</div>
</div>

<!-- <div class="complete1 debug">
	Current Team:
</div>
</br>
</br>
</div>


	<%# Draftee.where(draft_id: @draft.id, team_id: @team.id).each do |draftee| %>
		<div class="complete1"><%#= Player.find(draftee.player_id).position %>: <%#= Player.find(draftee.player_id).name %></div>
	</br>
	<%# end %> -->


	<a id="view-stats" class="waves-effect waves-light btn white_text hidden finish-draft" href="/drafts/<%= @draft.id %>/complete">Finish Draft!</a>
